<div class="m_footer">
    <div class="m_footer_container">
        <div class="m_footer_logo"><a href="/portal" class="logo clearfloat"><img
                    src="{$Think.const.STATIC_ROOT}/img/common/m-logo.png" alt="logo"></a></div>
        <div class="m_footer_message">
            <span class="fa fa-map-marker" style="color:#eb4644;display:inline-block;margin-right:4px"></span>
            <p style="display:inline-block;font-size:14px;">山西省太原理工大学</p><br>
            <span class="fa fa-phone" style="color:#eb4644;display:inline-block;margin-right:4px"></span>
            <p style="display:inline-block;font-size:14px;">0351-6014355</p><br>
            <span class="fa fa-envelope" style="color:#eb4644;display:inline-block;margin-right:4px"></span>
            <p style="display:inline-block;font-size:14px;">qzxy@tyut.edu.cn</p>
        </div>
    </div>
    <div class="m_footer_bottom">
        <div class="m_footer_p">
            <span class="fa fa-bar-chart" style="color:#b2b2b2;"></span>
            <p class="m_p">102010</p>
            <p>晋ICP证020029号</p>
        </div>
    </div>
</div>
</body>
</html>