{extend name="mobile/portal/frame" /}

{block name="style"}
    {include file="mobile/portal/common_ext_style" /}
    {if isset($extcss)}<link rel="stylesheet" type="text/css" href="{$Think.const.STATIC_ROOT}/css/skin/portal/{$extcss}.css"/>{/if}
    <link rel="stylesheet" type="text/css" href="{$Think.const.STATIC_ROOT}/css/skin/portal/common_article.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.STATIC_ROOT}/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{$Think.const.STATIC_ROOT}/css/mobile/m_home/m__rdnm__common.css">
{/block}

{block name="js"}

{/block}

{block name="body"}
<!--移动端文章样式-->
<div class="m-background">
    <div class="m-common">
        <div class="m-header1">
            <p style="font-size: 14px;color: #605b5b"><a href="http://qzxy.tyut.ued.cn" style="color: #605b5b">首页</a>-新闻-内容</p>
        </div>
        <div class="m-header">
            <p style="font-size: 26px;color: #3f3d3d;font-weight: bold ">
                {$thread.title}
        </div>
        <div class="m-icon1">
            <div class="m-icon2"><i class="fa fa fa-clock-o fa-rotate-90"></i>
                <span style="color: #605b5b;font-size: 14px;margin-left:10px">{$thread.time}</span></div>
            <div class="m-icon3">
                <img src="{$Think.const.STATIC_ROOT}/img/portal/readeye.png" class="m-eye">
                <span style="color: #605b5b;font-size: 14px">&nbsp;&nbsp;{$thread.view}&nbsp;&nbsp;</span>
                <i class="fa fa-heart-o heart"></i>
                <span style="color: #605b5b;font-size: 14px">&nbsp;&nbsp;344</span>
            </div>
        </div>
        <div class="ArticleImg">{$thread.content}</div>
        <button class="m-icon5" id="m-love" style="border-radius: 20px;width: 60px;height: 35px;border: none;outline:none;background-color: #ede7e7; cursor: pointer;">
            <i class=" fa fa-2x fa-heart-o" aria-hidden="true" id="r-love"></i>
        </button>
    </div>
    <div class="m-bottom-rectangle"></div>
</div>
<script>
    $(document).ready(function () {
        //点击喜欢按钮变色
        let count = 0;
        $("#m-love").click(function () {
            count++;
            if (count % 2 == 1) {
                $("#r-love").removeClass("fa-heart-o").addClass("fa-heart").css("color", "red");
            } else {
                $("#r-love").removeClass("fa-heart").addClass("fa-heart-o").css("color", "a7a2a2");
            }
        })
    })
</script>
{/block}

