{extend name="mobile/search/frame" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="{$Think.const.STATIC_ROOT}/css/skin/search/main.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.const.STATIC_ROOT}/css/mobile/m_portal/m-more.css" />
<style>
    em{
        color: #d53800;
        font-style: normal;
        font-weight: 700;
    }
</style>
{/block}
{block name="body"}
<section class="o__searchBar">
    <div class="o__searchBar">
        <div class="container">
            <div class="searchBox">
                <div class="searchContent">
                    <form action="#">
                        <input name="keyword" value="{$keyword}">
                        <button type="submit" class="searchbtn">全站搜索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="o__main">
    <div class="o__main">
        <div class="container">
            <div class="listContent">
                <div class="searchResult">
                    <p>已为您找到约{$count}条相关结果</p>
                </div>
                {volist name="thread_list" id="thread"}
                <div class="listContentItem">
                    <h3 class="itemTitle"><a href="threads/view?id={$thread['id']}">{$thread['title']}</a></h3>
                    <div class="itemInfo">{$thread['descrip']}</div>
                    <div class="itemInfoFooter">
                        <span>{$thread['time']}</span>
                        <span>阅读量：{$thread['view']}</span>
                    </div>
                </div>
                {/volist}
            </div>
            {$multipage}
        </div>
    </div>
</section>

{/block}